














.content{
	margin-top: 0;
}




        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 20px;
        }































.google_map{
	height: 400px;
}




















 
  



	.vertical_menu_area{
		text-align:left;
	}


















